<h1>Hello, world!</h1>
<p>
  Welcome to your test single-page application firework store!!
</p>
<p>
  Purpose of this excercise is to verify candidate skills and understanding basics of .net and C#.
</p>
<p>
  This solution represents a basic CRUD application. It consist of standard REST API and simple Angular front-end client.
  Your job is to achieve several goals:
</p>
<ul>
  <li>
    <strong>
      DISPLAY to user table with fireworks data which sits in file. Fireworks.csv will play a role of data source.
    </strong>
  </li>
  <li>
    <strong>
      User must ba able to PLACE NEW ORDERS. Feel free to combine any fireworks and quantity as you like. Orders.csv will play a role of data source.
    </strong>
  </li>
  <li>
    <strong>
      User must be able to DISPLAY his current placed orders. Orders.csv will play a role of data source.
    </strong>
  </li>
  <li>
    <strong>
      User cannot be able to DELETE existing orders.
    </strong>
  </li>
  Prepare required API endpoins and business logic to meet above small acceptance criteria using known to you best object and programming principles. To simplyfy implementation you can
  use mocked user data from MockStaticUser.cs
</ul>

<p>Also as general goals do following:</p>
<ul>
  <li><strong>Setup and run the code. Fix errors if requried</strong></li>
  <li><strong>Fill missing methods to fit their purposes.</strong></li>
  <li><strong>Do the code review! Refactor code if you feel that something isn't right or can be written better.</strong></li>
  <li><strong>Write unit tests. Feel free to choose testing framework and write most tests as you can.</strong></li>
</ul>
<p><strong>!!! GOOD LUCK !!!</strong></p>
